@{
    ViewData["Title"] = "Meus itens";
}
<div class="text-center">
    <h1 class="display-4">Itens</h1>
    <p class="ml-auto mt-2">Cadastrar Item <a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
    <p class="mt-2">Relatório de itens Cadastradas:</p>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Item</th>
                    <th scope="col">Emprestado</th>
                    <th scope="col">Data Retorno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Livro de Asp</td>
                    <td>Mario</td>
                    <td>25/09/2021</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Calculadora</td>
                    <td>Luana</td>
                    <td>27/10/2021</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Caneta</td>
                    <td>Livre</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>