@model IEnumerable<LetsLend.Models.Item>

<div class="text-center">
    <h1 class="display-4">Itens</h1>
    <div class="d-flex justify-content-start m-5">
        <a asp-action="ItemRegister" class="align-self-start">Cadastre um novo Item</a>
    </div>

    <h5>Itens emprestados:</h5>


    <table class="table">

        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Descrição</th>
                <th scope="col">Disponibilidade</th>
                <th scope="col">Emprestado para</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
     
        <tbody>
          


        </tbody>

    </table>


</div>