@{
    ViewData["Title"] = "Remoção de clientes";
}

@model Borrower

    <h1>Removendo Usuário</h1>

    <div class="container">
        <form method="post" asp-action="Remove" asp-controller="home">

            <div asp-validation-summary="All"></div>

            <div class="form-group">
                <label asp-for="Name">Nome:</label>
                <input asp-for="Name" class="form-control" disabled>
                <span asp-validation-for="Name" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefone">Telefone:</label>
                <input asp-for="Telefone" class="form-control" disabled>
                <span asp-validation-for="Telefone" class="form-text text-muted"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" type="email" class="form-control" disabled>
                <span asp-validation-for="Email" class="form-text text-muted"></span>
            </div>

            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>