@{
    ViewData["Title"] = "Relatórios";
}


@model LetsLend.ViewModels.ReportsViewModel

<div class="text-center">

    <h1 class="display-4">Relatórios</h1>
   
</div>

<div class="container"></div>
<h3> Você Possue:</h3>
<hr />
<h6>Itens cadastrados: <b class="text-primary"> @ViewBag.Item</b> </h6>
<hr />
<h6>Tomadores de empréstimos cadastrados: <b class="text-success">  @ViewBag.User </b> </h6>
<hr />
<h6>Quantidade de Objetos emprestasdos: </h6>
<hr />
<h6>Relação de itens com a atraso na devolução:</h6>
