@{
    ViewData["Title"] = "Relatórios";
}


@model LetsLend.ViewModels.ReportsViewModel

<div class="text-center">

    <h1 class="display-4">Relatórios</h1>

</div>

<div class="container"></div>
<h3> Você Possue:</h3>
<hr />
<h6>Itens cadastrados: <b class="text-primary"> @ViewBag.Item</b> </h6>
<hr />
<h6>Tomadores de empréstimos cadastrados: <b class="text-primary">  @ViewBag.User </b> </h6>
<hr />
<h6>Quantidade de Objetos emprestados: <b class="text-primary"> @ViewBag.BorrowedItems </b> </h6>
<hr />
<h6>
    Relação dos ID dos itens com atraso na devolução:
</h6>
<div>
    @foreach (var item in ViewBag.itensAtrasados)
    {
        <p>@item.ItemId</p>
    }
</div>
